*{
    top: 0px;
    left: 0px;
}
body{
    background-color: black;
}
section{
    height:1500px;

    border: 2px solid red;
}
h1{
    color: Red;
    font-size: 50px;
    text-align: center;
}


/* Our Team Section  */
.OurTeam{
    background: #666363;
    box-shadow: 0px 25px #73737396;
}
.OurTeam h1{
    opacity: 1;
}
.ContainerOfLeaders{
    border: 2px solid yellow;
    color: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
}
.MemberBox{
    border: 2px solid cyan;
    width: 20%;
    margin: 4px;
    padding: 0%;
}
.MemberImage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
}
.MemberImage img{
    border-radius: 50%;
    /* width: 50%; */
}
.MemberName{
    text-align: center;
    margin: 2%;
    padding: 2%;
}
.MemberPost{
    text-align: center;
    margin: 2%;
    padding: 2%;
}
@media screen and (max-width:1200px){
    .MemberBox{
        width: 40%;
    }
}
@media screen and (max-width:600px){
    .MemberBox{
        width: 90%;
    }
}
/* Contact Us Section  */